Take a random sample of 100 of the sentences, and for each one try to determine whether all the events described are physical, or if they involve any sort of planning, goal-setting, wanting, or anything could be described as a thought. 

For example a sentence like “The animal finds or builds a suitable place to hibernate where they can stay warm and protected.” Involves the rational act of “finding”, so it involves some thought.

While a sentence like “Solar radiation reaches Earth's atmosphere.” Is entirely physical.

In [10]:
import pandas as pd
import io
import requests

data=pd.read_csv("data/flattened_paragraphs.csv", index_col=None)

In [12]:
sample_100 = data.sample(100)
sample_100[:3]

      Unnamed: 0                                           sentence  index
938         1351                                 Living things die.    135
2287        3304  The resulting information is interpreted by th...    330
564          794   Balance your body as you roll on the skateboard.     79

In [14]:
sample_100.to_csv('sample_100_if_thoughts.csv')